main{
    flex-direction: column;
    background: url('../img/character_wallpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
}
th, td{
    border: solid rgb(146, 146, 146) 1px;
    padding: 15px 15px;
}
th {
    text-align: center;
    background-color: #0a0a1f;
}
table{
    border-collapse: collapse;
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.876);
}
.edit{
    display: flex;
    justify-content: center;
}
.delete{
    display: flex;
    justify-content: center;
}
